/*Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Slab:wght@300&display=swap");

/* LOTTIE ANIMATION */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Set the background color you want */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Set a high z-index to ensure it appears above other content */
}

#main-content {
  display: none;
}

/* Universal styles*/
* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  font-size: 1rem;
  background-image: url("../images/background.png");
  background-size: 50%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:focus {
  color: goldenrod;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #222222;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 12px 0;
}

/* Nav-bar START */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background: black;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  color: white;
}

#navbar li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: white;
  transition: color 0.3s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: goldenrod;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#bar {
  width: auto;
  height: auto;
  font-size: 5rem;
  margin-right: 30px;
  color: white;
}

#close {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 1.5rem;
}

#close-img {
  height: 16px;
  width: 16px;
}

/* Misc. Styles */

#logo {
  height: 75px;
  width: auto;
  margin: 0;
}

#banner {
  margin-bottom: 15px;
  width: 100%;
}
/* Nav-bar END */

/* TRAILER START */
.trailer-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center both horizontally and vertically */
  aspect-ratio: 16 / 9;
  width: 100%;
  display: none; /* Initially hidden */
}

.trailer-container {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trailer-container #videoOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity here */
}

.button-30,
#button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus,
#button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover,
#button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active,
#button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
/* TRAILER END */

/* Event Carousell START */
.carousel {
  margin-bottom: 15px;
}
.events {
  margin-top: 50px;
  color: black;
  background-color: #f7ecdb;
}

.c-item {
  padding-left: 20%;
  padding-right: 20%;
  height: 500px;
}

.c-img {
  height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}

/* Event Carousell END */

/* CHARACTER SHOWCASE START  */

/* CHARACTER SLIDE TEMPLATE */
.slide {
  position: relative;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.slide a {
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.slide a:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: 0.5s ease;
}

.slide-description {
  position: relative;
  height: 42%;
  width: 25%;
  margin-top: -65em;
  background-color: rgba(0, 0, 0, 0.281);
  z-index: 3;
  margin-left: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 15px;
  margin-bottom: 4em;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.726);
}

#raiden-img {
  position: relative;
  height: 80%;
  width: 80%;
  top: -80em;
}

#raiden-desc {
  background-color: rgba(119, 0, 255, 0.336);
}

#raiden-desc h1,
#hutao-desc h1,
#Furina-desc h1 {
  margin-bottom: 30px;
  color: white;
  font-family: "Roboto Slab", serif;
}

#raiden-list,
#hutao-list,
#Furina-list {
  margin-bottom: 30px;
  padding-left: 15px;
  color: white;
  font-family: "Roboto Slab", serif;
}

#raiden-demo {
  border-radius: 8px;
}

#raiden-slide .second-slide {
  height: 1100px;
}

#raiden-showcase {
  object-fit: cover;
}

#hutao-desc {
  background-color: #975e5a;
}

#hutao-slide .second-slide {
  height: 1100px;
}

#hutao-showcase {
  object-fit: cover;
}

#Furina-desc {
  background-color: #4460c4;
}

#Furina-slide .second-slide {
  height: 1100px;
}

#Furina-showcase {
  object-fit: cover;
}

/* CHARACTER SHOWCASE END */

/* FOOTER START */
.footer {
  background-color: black;
  padding: 70px 0;
}

.footer .footer-container {
  max-width: 1170px;
  margin: auto;
}

.footer-container .footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: goldenrod;
  padding-left: 8px;
}

.footer-col .social-links a {
  font-size: 40px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: black;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 47px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: goldenrod;
  background-color: black;
}

@media screen and (max-width: 750px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 574) {
  .footer-col {
    width: 100%;
  }
}

/* FOOTER END */

/*COPYRIGHT START */
.copyright {
  text-align: center;
  background: black;
  color: white;
  margin: 0;
}
/*COPYRIGHT END */

/* LOG IN / SIGN UP PAGE START */
.login {
  background-image: url("images/test3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto Slab";
}

.logcontainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.logcontainer p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
  color: #fff;
}

.logcontainer span {
  font-size: 12px;
}

.logcontainer a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.logcontainer button {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.logcontainer button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.logcontainer form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.logcontainer input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.logcontainer form button a {
  color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.logcontainer.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.logcontainer.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.logcontainer.active .toggle-container {
  transform: translateX(-100%);
}

.toggle {
  background-color: #bf1c2d;
  height: 100%;
  background: linear-gradient(to right, #005a82, #0ac8b9);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.logcontainer.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.logcontainer.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.logcontainer.active .toggle-right {
  transform: translateX(200%);
}

button {
  cursor: pointer;
}

/* LOG IN / SIGN UP PAGE END */

/* Media Queries */
/* Mobiles - Max Width */
@media (max-width: 750px) {
  /* Nav-bar START */
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -310px;
    height: 100vh;
    width: 300px;
    background: black;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    z-index: 1;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: white;
    font-size: 1.5rem;
    padding-left: 20px;
  }
  #close {
    display: block;
  }
  /* Nav-bar END */

  /* Event Carousell START */
  .c-item {
    height: 200px;
  }
  /* Event Carousell END */

  /* CHARACTER SHOWCASE START */
  .events {
    font-size: 30px;
  }
  .character-title {
    font-size: 30px;
  }

  .slide-description {
    position: relative;
    width: 80%;
  }

  .character-showcase-title {
    font-size: 15px;
  }
  /* CHARACTER SHOWCASE END */
}

/* Large Desktops */
@media screen and (min-width: 1200px) {
  #banner {
    height: 10%;
  }

  .trailer-container iframe {
    width: 800px;
  }
}
